.purple-me {
  background-color: #503690;
  color: white;
}

.purple-me-light {
  background-color: #D500F9;
  color: white;
}

.widgets {
  width: 33.33% !important;
  padding-top: 31px !important;
  color: white;
}

.good {
  background-color: #B4D246 !important;
}

.neutral {
  background-color:  #FFD728 !important;
}

.bad {
  background-color: #dd275b !important;
}

.tab-widgets {
  width: 33.33% !important;
  padding-top: 31px !important;
  background-color: #009688 !important;
  color: white !important:
}

.content {
  margin-top: 200px !important;
}

.active {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFC107;
}
