.purple-me {
  background-color: #512DA8;
  color: white;
}

.purple-me-light {
  background-color: #512DA8;
  color: white;
}

.widgets {
  width: 50% !important;
  padding-top: 31px !important;
  height: 130px !important;
  color: white;
}
.widgets {
  width: 100% !important;
  padding-top: 31px !important;
  height: 130px !important;
  color: white;
}

.main-wid {
  height: 130px !important;
}

.purple {
  background-color: #512DA8 !important;
}

.amber {
  background-color:  #FFC107 !important;
}

.pink {
  background-color: #dd275b !important;
}

.tab-widgets {
  transition: background-color 0.5s ease;
  width: 33.33% !important;
  padding-top: 15px !important;
  background-color: #512DA8 !important;
  color: white !important:
  font-size:22px;
}

.tab-widgets:hover {
  background-color: #673AB7 !important;
  cursor: pointer;
}

.content {
  margin-top: 130px !important;
}

.active {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFC107;
}

.bottom-label {
  background-color: rgba(0, 0, 0, 0.25);
  height:50px !important;
  padding-top:15px !important;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}
.large-content {
  font-size: 28px;
}

.container-fluid-sp {
  margin-top: 150px;
}
.info-box {
  height: 55px;
  box-shadow: 0 0 0 rgba(0,0,0,0)!important;
}

#legend-container-vid,#legend-container-vid2,
#legend-container-banner, #legend-container-banner2 {
    background-color: #fff;
    padding: 2px;
    margin-bottom: 8px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E6E6E6;
    display: inline-block;
    margin: 0 auto;
}
